<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.czh.life_assistant">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="W1uBrK1IoPx6AA7x9LMMQlSMauUNWFZ3" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SelectCityActivity"
            android:label="城市列表" />
        <activity
            android:name=".FmsListActivity"
            android:label="订单列表" />
        <activity
            android:name=".FmsActivity"
            android:label="订单详情" />
        <activity
            android:name=".TodoListActivity"
            android:label="TODO列表"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".TodoActivity"
            android:label="TODO详情"
            android:theme="@style/TodoTheme" />
        <activity
            android:name=".DailyArticleActivity"
            android:label="每日一文" />
        <activity
            android:name=".TranslateActivity"
            android:label="翻译" />
        <activity
            android:name=".SelectLanguageActivity"
            android:label="选择语言" />
        <activity
            android:name=".DailyWeatherActivity"
            android:label="15天概况" />
        <activity
            android:name=".AlmanacActivity"
            android:label="老黄历" />
        <activity
            android:name=".NewsActivity"
            android:label="新闻列表" />
        <activity
            android:name=".NewActivity"
            android:label="新闻详情" />

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WeatherAlertActivity"
            android:label="天气预警" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/NoActionBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Widget.FourOneWidget">
            <intent-filter>
                <action android:name="com.czh.life_assistant.action.MYWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/four_one_widget_info" />
        </receiver>
        <receiver android:name=".Widget.FourTwoWidget">
            <intent-filter>
                <action android:name="com.czh.life_assistant.action.MYWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/four_two_widget_info" />
        </receiver>
    </application>

</manifest>